{% extends "base.html" %}
{% load static %}


{% block content %}
<h2>Gestione Utenti</h2>
<form method="post">
{% csrf_token %}
{{ form.query.label_tag }} {{ form.query }}
<button type="submit" name="cerca">Cerca</button>
</form>


{% if ldap_results %}
<h4>Risultati LDAP:</h4>
<ul>
{% for u in ldap_results %}
<li>{{ u.displayName  }} - {{ u.email }}</li>
{% empty %}
    <p>Nessun risultato trovato.</p>
{% endfor %}
</ul>
{% endif %}


<h4>Utenti registrati</h4>
<ul>
{% for u in utenti %}
<li>{{ u }} - Attivo: {{ u.attivo }}</li>
{% endfor %}
</ul>


{% endblock %}